<template name="investOverlay">
  <div class="overlay invest">
    <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

    <div class="wrapper-heading">
      <div class="title-overlay">How much do you want to invest in this trade genius?</div>
      <div class="subtitle-overlay">
        <form>
          <input type="number" class="invest-amount">
        </form>
      </div>
    </div>

    <button class="js-invest btn-twitter">Submit</button>
  </div>
</template>